/* Navbar */

.navbar {
  background-color: #232c30;
  position: fixed;
  z-index: 1;
  width: 100vw;
}

.navbar-brand {
  font-family: "Oswald";
  font-weight: bold;
  font-size: 30px;
  
}


/* Hero - Section */

#Hero-Section {
  height: 100vh;
  background: url("../img/Imagen_Fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#Hero-Section div {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

#Hero-Section .hero-line {
  width: 250px;
  height: 1pt;
}

#Hero-Section h1:first-child {
  font-family: "Oswald";
  font-weight: 200;
  font-size: 72px;
}

#Hero-Section h1:last-child {
  font-family: "Oswald";
  font-weight: 900;
  font-size: 72px;
}

/* Sobre Mi */

#Sobre-Mi {
  color: #373a3c;
}





#Sobre-Mi div:last-child,
#Sobre-Mi h4 {
  font-family: "Open Sans";
  line-height: 3;
}

#Sobre-Mi h4 {
  font-weight: 600;
}

.icon {
width: 200px;
}

/* Mis últimos trabajos */

#Trabajos {
  background-color: #324a55;
}

#Trabajos h1 {
  font-size: 52px;
}

#Trabajos div hr {
  width: 1100px;
  height: 1pt;
}

#Trabajos h4 {
  font-family: "Oswald";
}

.card-img-top{
  width: 350px;
  height: 220px;
}
